*,
*:before,
*:after {
  box-sizing: border-box;
  scroll-behavior: smooth;
  list-style: none;
  outline: none;
  text-decoration: none;
}

:root {
  /* colors */
  --clr-accent: #9d6f64;
  --clr-main: #2e4449;
  --clr-main-dark: #1f2e31;
  --clr-marble-white: #f5f7f7;
  --clr-marble-white-shade: #e6eded;

  /* font-families */
  --ff-heading: "ivypresto-display", serif;
  --ff-text: "degular", sans-serif;
  --ff-cta: "sweet-gothic", sans-serif;
}

html,
body {
  min-height: 100vh;
  margin: 0 auto;
  font-family: var(--ff-text);
  line-height: 1.1;
}

/* Texture Rocky Wall, Made by Projecteightyfive */

.body-container {
  background-image: url(../images/rockywall.png);
}

.logo {
  max-height: 150px;
  padding: 1em 0em 0.5em 1em;
}

/* ======
Fonts
====== */

h1 {
  font-family: var(--ff-heading);
  font-size: 3rem;
  font-weight: 600;
  max-width: 100%;
  color: var(--clr-accent);
  margin: 3rem 2rem;
  letter-spacing: 0.03em;
}

h2 {
  font-family: var(--ff-heading);
  font-size: 1.7rem;
  max-width: 350px;
  font-weight: 400;
  margin: 0.5rem 2rem;
  letter-spacing: 0.05em;
}

p {
  color: var(--clr-marble-white);
  line-height: 1.2;
  letter-spacing: 0.01em;
}

h3 {
  font-family: var(--ff-cta);
  font-style: normal;
  font-weight: 200;
  font-size: 1.2rem;
}

h4 {
  color: var(--clr-main-dark);
}

h5 {
  color: var(--clr-main-dark);
}

.italic-span {
  font-style: italic;
}

.prod-span {
  font-weight: 200;
}

/* ======
Header Navigation
====== */

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0em 1em;
}

.nav-content {
  background-image: url(../images/rockywall.png);
  width: 100%;
  position: fixed;
  z-index: 4;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  transform: translateX(0);
  transition: 400ms ease-in-out;
}

.nav-links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 6em;
  padding: 3em;
}

.nav-link {
  position: relative;
  font-size: 2rem;
  color: var(--clr-main);
}

.nav-link a {
  color: var(--clr-main);
}

.nav-link:hover,
.fas:hover {
  color: var(--clr-main-dark);
}

.close-nav,
.open-nav {
  background: none;
  border: none;
  cursor: pointer;
  color: var(--clr-main);
}

.open-nav {
  font-size: 3rem;
}

.close-nav {
  font-size: 3rem;
  padding: 0.5em 1em;
}

.navigation-open {
  transform: translateX(-100%);
}

.close-nav {
  position: absolute;
}

.shopping-bag {
  max-width: 1.5rem;
  cursor: pointer;
  padding-left: 0.2em;
}

.sofa.icon {
  max-width: 200px;
  padding: 2em;
}

/* Header dropdown */

.dropdown-content {
  display: none;
  padding: 3em 3em 3em 0em;
  position: absolute;
  background-color: var(--clr-marble-white);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.dropdown-content a {
  padding: 0.3em 2em;
  display: block;
  font-size: 1rem;
  color: var(--clr-main);
}

.dropdown-content a:hover {
  color: var(--clr-main-dark);
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* ======
Buttons
====== */

.cta {
  padding: 0.7em 1.5em;
  background-color: transparent;
  border: 2px solid var(--clr-accent);
  font-family: var(--ff-cta);
  color: var(--clr-accent);
  font-size: 0.8rem;
  cursor: pointer;
  transition: 300ms ease-in-out;
  margin: 2em 3em 2em 2em;
  width: 150px;
}

.cta:hover {
  background-color: var(--clr-accent);
  border: 2px solid var(--clr-accent);
  color: var(--clr-marble-white);
  font-size: 0.8rem;
}

.light-btn.cta {
  border: 2px solid var(--clr-marble-white-shade);
  color: var(--clr-marble-white-shade);
  font-family: var(--ff-cta);
}

.light-btn.cta:hover {
  background-color: var(--clr-marble-white-shade);
  border: 2px solid var(--clr-marble-white-shade);
  color: var(--clr-main);
}

/* ======
Articles
====== */

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--clr-marble-white);
}

.container.even,
.container.odd {
  display: flex;
  flex-direction: column;
  padding-bottom: 4em;
}

.container.even {
  background-color: var(--clr-main);
  color: var(--clr-marble-white);
}

.container.odd h2,
.container.odd p {
  color: var(--clr-accent);
}

.header-container {
  display: flex;
  flex-direction: column-reverse;
}

.hero-header {
  margin-top: 2em;
}

.ad-gallery {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  max-width: 100%;
  justify-content: center;
}

.ad-gallery img {
  max-width: 100%;
  height: auto;
}

.product-gallery {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 2em;
  max-width: 100%;
  justify-content: center;
  cursor: pointer;
}

.gallery-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100%;
  padding: 2em;
}

.product-gallery img {
  max-width: 100%;
  height: auto;
}

.product-info {
  background-color: var(--clr-marble-white);
  padding: 1em 0em 2em 0em;
}

.product-info h4 {
  margin: 0;
  font-family: var(--ff-text);
  padding-left: 1em;
}

.section-container {
  display: flex;
  flex-direction: column;
}

.deco-image {
  max-width: 100%;
  padding: 0em;
}

.deco-image img {
  width: 100%;
  height: auto;
}

.deco {
  box-shadow: 15px 15px var(--clr-main);
}

.article {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.article-short {
  padding: 0em 0em 0em 2em;
}

.article-long {
  max-width: 500px;
}

.info {
  text-align: center;
  line-height: 1.3;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* ======
Footer
====== */

footer {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-social ul,
.footer-main ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footer-link,
.social-link {
  margin-right: 1em;
}

.footer-link {
  font-size: 1em;
}

.social-link {
  font-size: 1.7rem;
}

.social-link,
.footer-link a,
.social-link a,
.copyright {
  color: var(--clr-main);
}

.footer-link a:hover,
.social-link a:hover {
  color: var(--clr-main-dark);
}

.copyright {
  text-align: center;
  font-size: 0.8rem;
  padding: 1em;
}

/* ======
Media Quieries
====== */

@media (min-width: 1000px) {
  h1 {
    max-width: 300px;
    font-size: 3.5rem;
    margin-bottom: 0.5em;
  }

  h2 {
    margin: 0rem 2rem;
  }

  .nav-content {
    position: initial;
  }

  .nav-links {
    flex-direction: row;
    margin-top: 0em;
  }

  .nav-link {
    font-size: 1.3rem;
    padding: 0.5em;
  }

  .open-nav,
  .close-nav {
    display: none;
  }

  .article-short {
    max-width: 400px;
  }

  .container.odd,
  .container.even {
    padding: 0em 2em 2em 2em;
  }

  .hero-header {
    justify-content: left;
  }

  .header-container,
  .section-container,
  .ad-gallery,
  .product-gallery {
    display: flex;
    flex-direction: row;
  }

  .section-container,
  .header-container {
    align-items: center;
  }

  .product-gallery img {
    max-width: 250px;
    height: auto;
  }

  .deco-image {
    max-width: 900px;
    padding: 4em 2em;
  }

  .deco-image img {
    width: 100%;
    height: auto;
  }

  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: top;
  }
}
